@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

:root{
    --menu-size: 260px;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Aladin', cursive;
}

body{
    background-color: rgb(0, 242, 255);
    background-image: url("/img/mar/mar.png");
}

.content h2{
   position: relative;
   text-align: center;
   font-size: 1.7rem;
   letter-spacing: 0.1rem;
   animation: go-back 1.5s infinite alternate;
}
  
@keyframes go-back {
    from {
      transform: translateY(16px);
      
    }
    to {
      transform: translateY(0);
    }
}
header{
    padding: 10px;
}

.btnMenu, img{
    width: 2.8rem;
}

.btnMenu{
    margin-top: 0.3rem;
    margin-left: 1rem;
    cursor: pointer;
    padding: 5px;
    transition: all .7s;
}

.btnMenu:hover{
    border-radius: 50%;
    cursor: pointer;
}

.btnMenu:active{
    background-color: #002ac2e6;
}

.btnClose{
    cursor: pointer;
    padding: 5px;
    background-color: hsla(0, 0%, 100%, 0);
    color: #ffd145;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.9s;
}

.btnClose:hover{
    cursor: pointer;
    color: #002BC2;
}

.menu{
    width: var(--menu-size);
    height: 100%;
    background-color: hsla(207, 90%, 80%, 0.774) ;
    position: fixed;
    top: 0;
}

.menu ul{
    list-style: none;
    padding-top: 25px;
}

.menu ul li{
    display: block;
    padding-top: 5px;
}

.menu ul li a{
    display: block;
    color: #fff;
    letter-spacing: 0.1rem; 
    font-size: 1.3rem;
    text-decoration: none;
    padding: 7px 10px;
    transition: all .7s;
}

.menu ul li a:hover{
    background-color: rgba(147, 255, 255, 0.282);
}

.effect {
    transition: margin 0.4s;
}

.clickPeixe{
    width: 250px;
    margin-left: 150px;
    cursor: pointer;
}
